.Dialogs {
    display: grid;
    grid-template-columns:  1fr 10fr;
    
}
.Dialogs_items {
    padding: 10px;
    
}
.Dialog {
    color: #f0ebeb;
    text-decoration: none;
}
.Dialog.active {
    color: gold;
}
.Messages {
    padding: 10px;
    color: rgb(247, 240, 240);
}