.weather {
    
  
    display: grid;
    grid-template-areas: 
    "i d";
    
    max-height: 100px;
   
  
   text-align: center;
    font-size: 12px;
}
.weatherDescriptions {
    grid-area: d;
    min-width: 200px;
    max-height: 100px;
    font-style: normal;
   text-align: left;
   
   
    
}
.weatherImgDescriptions{
   
    grid-area: i;
    
    
    max-height: 100px;
    text-align: center;
    
}
.weatherImg {
    grid-area: I;
    min-width: 100px;
    
    
}

.cityName{
    font-size: 12px;
}