.header {
    grid-area: h;
    background-color: rgb(125, 153, 160);
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;



  }
  .header img {
    width: 100px;
    margin-left:5%;
    border-radius: 10px;
    padding: 5px;
  }
  .logo {
    padding: 10px;

  }
  .loginBlock {

  }
  .loginBlock a {
      color: #f0ebeb;
      text-decoration: none;
  }