

.header {
    grid-area: h;
    background-color: rgb(125, 153, 160);
    grid-template-columns: 0.5fr 6fr 2fr;
    display: grid;
    grid-template-areas: 
      "i l k"
      "i l w"
    



  }
  .logoImage {
    grid-area: i;
    width: 100px;
    padding: 3%;

 
    
   
  }
  .logo {
    grid-area: l;
    text-align: center;
    padding-top: 3%;
    

  }
  .loginBlock {
    grid-area: k;
    text-align: right;
    padding: 1%;

  }
  .loginBlock a {
      color: #dbb7b7;
      text-decoration: none;
  }
  .weatherContainer {
    grid-area: w;
    

  }
