

.header {
    grid-area: h;
    background-color: rgb(125, 153, 160);
    grid-template-columns: 0.7fr  0.9fr 0.3fr  ;
    display: grid;
    grid-template-areas: 
      "w  l k"
      
    



  }
  .logoImage {
    grid-area: i;
    width: 90px;
    padding: 4px;

 
    
   
  }
  .logo {
    grid-area: l;
    text-align: center;
    padding-top: 3%;
    

  }
  .loginBlock {
    grid-area: k;
   
    padding: 1%;
    text-align: center;

  }
  .loginBlock a {
      color: #dbb7b7;
      text-decoration: none;
     
  }
  .weatherContainer {
    grid-area: w;
    
    

  }
