.formControl {
color: red;
}

.formControl.error input,
.formControl.error textarea {
    border: solid brown 5px;
}
.formControl.error span {
    color: red;
}
.formSummaryError {
    border: red 1px solid;
    padding:5px ;
    color: salmon;
}